RewriteEngine On
RewriteBase /Mental_Health_Management_System/

# If the requested file does not exist, rewrite to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
